!!class-name!!     #!# a #!# DEFAULTCLASS
!!file-base-name!! #!# f #!# os.path.splitext(self.getVarVal("!!file-name!!"))[0]
!!header-name!!    #!# f #!# os.path.splitext(self.getVarVal("!!file-name!!"))[0] + ".h"